*{
    margin: 0;
}


.header{
    background-image:linear-gradient(to bottom, rgba(13, 15, 26, 0.389), rgba(0, 0, 0, 0.73)), url('../images/donation5.jpg');
    background-position: center;
    background-size: cover;
    width: 1440px;
    height:550px;
    padding-top: 200px;
    text-align: center;
    color: #FFFFFF;
}

.header-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;


}
.header-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-top: 30px;
}

.btn-primary{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 18px 35px;
    background: #FF5959;
    margin-top: 30px;
    
    }

    /* donate today css */
    main{
        max-width: 1140px;
        margin: 0 auto;
    }
    section{
        margin-top: 130px;
    }
    .donate{
        text-align: center;
        width: 1000px;
        height:550px;
    
    
    }
    .donate-title{
        font-weight: 700;
        font-size: 45px;
        line-height: 54px;
        color: #121212;
            }
    .donate-description{
        padding-top: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #707070;
    }
   
    .taka{
        margin-right: 100px;
        margin-left: 120px;
        margin-top: 20px;
    }
    
.taka li{
       background: #ffffff;
       text-align: center;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 30px;
        gap: 20px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 20px;
       }
.taka li:hover{
    
    background: #FF5959;
}

.taka ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
}
.amount-title{
    color: #707070;
    font-weight: normal;
    padding-bottom: 10px;
}
.donate-plan{
    text-align: center;
}

.plan-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;

}
.plan-description{
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}


.skills-container{
    display: flex;
    gap: 24px;
    text-align: left;
}
.skill{
    background:rgb(223, 200, 222); 
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}

.text{
    display: flex;
    
    
}
.text-title{
    
}
.bad-title{
    margin-bottom: 50px;
}
.good-title{
    margin-top: 110px;
}
.text-item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    }

    .text-item-two{
        width: 500px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #707070;
        padding-bottom: 10px;
    }
    .text-item-one{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #707070;
        padding-top: 5px;

    }
    
    
    .update-title{
        font-weight: 700;
        font-size: 45px;
        line-height: 54px;
        text-align: center;
        color: #121212;
        padding-bottom: 20px;

    }

   
   .update-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
    padding-bottom: 40px;

   }

.email{
    background: #FFF4D6;
    text-align: center;
    height: 20px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 130px 150px;
  
  
    
   
    
 
  
}
input{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AA9F9F;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    

}
.sub-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    background: #df4343;
  
}

.footer-section{
    
    background: #0B0D17;
    text-align: center;
    height: 120px;
}
.humble-title{
    color: #df4343;
    padding-top: 20px;
}
.humble-description{
    color: #D9D9D9;
    padding-top: 20px;
}